@import "variables";
@import "mixin";
/*-------------------------
          CONTACT
-------------------------*/
.contact {
    ::-moz-placeholder, .form-control::-moz-placeholder {
        color: $dark-2;
    }

    .form-item .form-control {
        background: $bg-white;
        border-radius: 0;
        box-shadow: none;
        height: 44px;
        color: $base-color;
        font-size: $f-s-14;
        position: relative;
        transition: border .9s ease;
    }

    .contact-form textarea {
        min-height: 175px;
        resize: none;
    }

    #message.toast {
        max-width: 500px;
        padding: 2px 0 1px;
        position: relative;
        top: 18px;
        display: inline-block;
        left: 20px;
    }

    .toast button span{
        position: relative;
        top: 8px;
    }
    .form-item .form-control{
        padding: 12px 0;
        border: none;
        border-bottom: 1px solid $dark-2;
        &:focus {
            border-bottom: 1px solid $base-color;
        }

    }
}