@import "variables";
@import "mixin";
/*-------------------------
        HEADER
-------------------------*/
.header{
    padding: 10px 0;
    transition: all 0.8s ease;
    border-bottom: 1px solid $light-4;
    nav{
        a{
            color: $white;
            font-size: $font-size-base;
            background-color: transparent !important;
            margin: 0 7px;
            line-height: $line-height;
            transition: all 0.5s;
            font-weight: $f-w-400;
            &:hover{
                color: $base-color !important;
            }
        }
        a.navbar-brand{
            color: $white;
            font-size: $f-s-24;
        }
        .nav-pills a.active{
            color: $base-color !important;
        }
    }
}
.header-sticky {
    background-color: $bg-white;
    padding: 5px 0;
    box-shadow: 0 1px 3px 0 $grey-3;
    border-bottom: none !important;
    nav{
        li a{
            color: $black-2;
        }
        a.navbar-brand{
            color: $black-2;
        }
    }
}