@import "variables";
@import "mixin";
/*-------------------------
       SINGLE BLOG
-------------------------*/
.page-hero{
    background-image: url("http://placehold.it/1920x1080") !important;
    background-position: center;
    background-size: cover;
    height: 500px;
    position: relative;
    .hero-content{
        transform: translateY(-50%);
        a:hover{
            color: $base-color !important;
        }
    }
}
.pt-hero{
  padding-top: 66px;
}
.comments{
    img{
        width: 80px;
        border-radius: $rd-p-50;
    }
    .comment-info{
        margin-left: 100px;
    }
    .comment-info a{
        color: $bg-dark-4;
        &:hover{
            color: $base-color !important;
        }
    }
}
.quotation i {
    display: inline-block;
    transform: rotateZ(180deg);
}
.checkmark-list li > span::before {
    content: '\e94c';
    font-family: $lineIcon;
    color: $base-color;
    margin-right: 5px;
}
