@import "variables";
@import "mixin";
/*-------------------------
     Single Portfolio
-------------------------*/
.single-portfolio .owl-nav{
    display: block;
    position: absolute;
    bottom: -25px;
    left: calc(50% - 48px);
    .owl-prev span , .owl-next span{
        background: $bg-base-color;
        color: $white;
        width: 38px;
        height: 38px;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        display: inline-block;
        cursor: pointer;
        border-radius: 30px;
        margin: 0 5px;
        &:hover{
            background: $bg-base-color-two;
        }
    }
}
.related-portfolio .owl-nav{
    display: block;
    position: absolute;
    bottom: -30px;
    left: calc(50% - 48px);
    .owl-prev span, .owl-next span{
        background: $bg-base-color;
        color: $white;
        width: 38px;
        height: 38px;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        display: inline-block;
        cursor: pointer;
        border-radius: 30px;
        margin: 0 5px;
        &:hover{
            background: $bg-base-color-two;
        }
    }
}
.single-portfolio .owl-nav .owl-prev span{
  user-select: none;
}
.single-portfolio .owl-carousel .owl-stage-outer {
  border-radius: $rd-r;
  margin-bottom: 10px;
}
.p-title-border{
  border-right: 1px dotted $light-5;
  border-left: 1px dotted $light-5;
}