@import "variables";
@import "mixin";
/*-------------------------
       TESTIMONIAL
-------------------------*/
.testimonial{
    background: url("http://placehold.it/1920x1080") no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    &:before{
        @include testimonial-before;
    }
    .testimonial-item{
          max-width: 750px;
          margin: 0 auto;
          &::before{
              content: '\e989';
              font-family: $lineIcon;
              font-size: 50px;
              transform: rotateZ(180deg);
              display: block;
              color: $white;
          }
         p{
             font-size: $f-s-24;
             font-weight: $f-w-400;
         }
         h4{
            font-size: $f-s-18;
            font-weight: $f-w-300 !important;
        }
         h4 span{
            font-size: $f-s-18;
            font-weight: $f-w-300 !important;
        }
    }
    .owl-dot span{
        display: block;
        width: 15px;
        height: 5px;
        background-color: $bg-white;
        margin: 0 4px;
        border-radius: $rd-15;
        transition: all 0.5s ease;
    }
    .owl-dot.active span{
        width: 30px;
        background-color: $bg-base-color;
    }
    .owl-carousel .testimonial-item{
        img{
            width: 115px;
            margin-top: 30px;
        }
        .img-thumbnail{
            background-color: transparent;
        }
    }
}

