@import "variables";
@import "mixin";
/*-------------------------
       UONE DARK
-------------------------*/
body.uone-dark{
  background-color: $bg-dark-4;
  color: $white;
}
.uone-dark{
    .bg-grey{
        background-color: $bg-light !important;
    }
    .header {
        border-bottom: 1px solid $dark-10;
    }
    .page-header{
        border-bottom: none;
    }
    .header-sticky{
        background-color: $bg-dark-5 !important;
        nav li a {
            color: $white;
        }
        .navbar-brand {
            color: $white;
        }
    }
    .text-dark{
        color: $white !important;
    }
    a.text-dark{
        &:hover{
            color: $white !important;
        }
        &:focus{
            color: $white !important;
        }
    }
    .comment-info a{
        color: $white !important;
        &:hover{
            color: $base-color !important;
        }
    }
    .form-item .form-control{
        color: $white !important;
    }
    .text-muted{
        color: $light !important;
    }
    .portfolio-filter li a{
        color: $light !important;
    }
    .bg-dark, .bg-white{
        background-color: $bg-dark-7 !important;
    }
    .blog .blog-title {
        background-color: $bg-grey-2;
    }
    .blog-content h4 a:hover {
        color: $base-color !important;
    }
    .img-thumbnail {
        background-color: transparent;
        border: 1px solid $light-2;
    }
    .form-item .form-control {
        border-bottom: 1px solid $white;
        background: $bg-dark-4;
        &:focus{
            border-bottom: 1px solid $base-color;
        }
    }
    .navbar-nav .nav-item a:hover, .navbar a:hover {
        color: $base-color !important;
    }
    .navbar a:hover{
        color: $base-color !important;
    }
    .pagination-blog{
        li .page-link{
            background-color: $bg-dark-6;
            border-color: $dark-8;
            color: $white !important;
            &:hover{
                background-color: $bg-base-color;
                border-color: $base-color;
                color: $white !important;
                cursor: pointer;
            }
        }
        li.active .page-link{
            background-color: $bg-base-color;
            border-color: $base-color;
            color: $white !important;
            &:hover{
                cursor: pointer;
            }
        }
        li.disabled .page-link{
            color: $dark !important;
        }
    }

}

@media (max-width: 991px){
    .uone-dark .header {
        background-color: $bg-dark-5 !important;
        nav {
            a.navbar-brand {
                color: $white;
            }
            li a {
                color: $white;
            }
        }
        button span{
            color: $white;
        }
    } 
}

/*--------------------------------------
       prefers-color-scheme: dark
--------------------------------------*/
@media (prefers-color-scheme: dark) {
    body{
        background-color: $bg-dark-4;
        color: $white;
    }
    .bg-grey{
        background-color: $bg-light !important;
    }
    .header {
        border-bottom: 1px solid $dark-10;
    }
    .page-header{
        border-bottom: none;
    }
    .header-sticky{
        background-color: $bg-dark-5 !important;
        nav li a {
            color: $white;
        }
        .navbar-brand {
            color: $white;
        }
    }
    .text-dark{
        color: $white !important;
    }
    a.text-dark{
        &:hover{
            color: $white !important;
        }
        &:focus{
            color: $white !important;
        }
    }
    .comment-info a{
        color: $white !important;
        &:hover{
            color: $base-color !important;
        }
    }
    .form-item .form-control{
        color: $white !important;
    }
    .text-muted{
        color: $light !important;
    }
    .portfolio-filter li a{
        color: $light !important;
    }
    .bg-dark, .bg-white{
        background-color: $bg-dark-7 !important;
    }
    .blog .blog-title {
        background-color: $bg-grey-2;
    }
    .blog-content h4 a:hover {
        color: $base-color !important;
    }
    .img-thumbnail {
        background-color: transparent;
        border: 1px solid $light-2;
    }
    .form-item .form-control {
        border-bottom: 1px solid $white;
        background: $bg-dark-4;
        &:focus{
            border-bottom: 1px solid $base-color;
        }
    }
    .navbar-nav .nav-item a:hover, .navbar a:hover {
        color: $base-color !important;
    }
    .navbar a:hover{
        color: $base-color !important;
    }
    .pagination-blog{
        li .page-link{
            background-color: $bg-dark-6;
            border-color: $dark-8;
            color: $white !important;
            &:hover{
                background-color: $bg-base-color;
                border-color: $base-color;
                color: $white !important;
                cursor: pointer;
            }
        }
        li.active .page-link{
            background-color: $bg-base-color;
            border-color: $base-color;
            color: $white !important;
            &:hover{
                cursor: pointer;
            }
        }
        li.disabled .page-link{
            color: $dark !important;
        }
    }
    @media (max-width: 991px){
        .header {
            background-color: $bg-dark-5 !important;
            nav {
                a.navbar-brand {
                    color: $white;
                }
                li a {
                    color: $white;
                }
            }
            button span{
                color: $white;
            }
        }
    }
}