// Font Family
$poppins: 'Poppins', sans-serif;
$muli: 'Muli', sans-serif;
$lineIcon: LineIcons, sans-serif;


// text Colors ---------------

$white: #ffffff;
$black: #000000;
$black-2: #222;
$ccc: #ccc;
$eee: #eee;
$cacaca: #cacaca;
$dark: #6c757d;
$dark-1: #343a40;
$dark-2: #969696;
$dark-3: #343a40;
$bg-dark-4: #0b0b0b;
$light: rgba(226, 226, 217, 0.95);
$bg-light: rgba(255 , 255 , 255 , 0.015);
$light-2: rgba(222, 226, 230, 0.77);
$light-3:  #ebebeb;
$light-4:  #a8a8a8;
$light-5: #929292;
$bg-dark-5: rgba(27, 30, 33, 1);
$bg-dark-6: rgba(27, 30, 33, 0.9);
$dark-6: rgba(27, 30, 33, 0.9);
$bg-dark-7: rgb(27, 30, 33);
$dark-8: #555;
$dark-9:  rgba(255, 255, 255, 0.8);
$dark-10: #5e5e5e;




// Theme Color
$base-color: #d23e50;
$base-color-two: #bf2739;

// bg Colors ---------------

$bg-base-color: #d23e50;
$bg-base-color-two: #bf2739;
$bg-white: #ffffff;
$bg-black: #000000;
$bg-grey:  rgba(0, 0, 0, 0.03);
$bg-selection: rgba(230, 230, 230, 0.8);
$bg-dark: rgba(0, 0, 0, 0.4);
$bg-grey-2: rgba(0, 0, 0, 0.6);
$grey-3: rgba(0, 0, 0, 0.1);
$grey-4: rgba(0, 0, 0, 0.75);
$grey-5: rgba(0, 0, 0, 0.7);
$grey-6: rgba(0, 0, 0, 0.9);



// Heading Color
$heading-color: #000000;

$fullScreen: 100vh;
$line-height-base: 1.618;
$line-height: 1.5em;
$font-size-base: 1rem;
$font-size-h: 2.5rem;
$font-size-h1: 3rem;
$f-s-r: 1.5rem;
$f-s-12: 12px;
$f-s-14: 14px;
$f-s-16: 16px;
$f-s-18: 18px;
$f-s-20: 20px;
$f-s-24: 24px;
$f-w-300: 300;
$f-w-400: 400;
$f-w-500: 500;
$f-w-600: 600;
$f-w-700: 700;
$p-6: 6rem;
$rd-3: 3px;
$rd-4: 4px;
$rd-15: 15px;
$rd-r: 0.25rem;
$rd-p-50: 50%;